<footer id="footer-section" >

    <section class="footer_section">

        <div class="container">

            <div class="p-grid">
                <div class="p-sm-12 p-md-4 p-lg-3 p-xl-3 grid_col">
                    <h5>Ultra</h5>
                    <p>Ultra is a Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ac non sed purus, enim
                        aliquet
                        viverra id. Nisi id ipsum a, arcu felis at arcu.</p>
                    <ul class="list-group">
                        <li class="list-item-inline">
                            <img src="../../../assets/images/home_page/carosel/Social media (Facebook).svg" alt="" />
                        </li>
                        <li class="list-item-inline">
                            <img src="../../../assets/images/home_page/carosel/Social media (Instagram).svg" alt="" />
                        </li>
                        <li class="list-item-inline">
                            <img src="../../../assets/images/home_page/carosel/Social media (Twitter).svg" alt="" />
                        </li>
                    </ul>
                </div>

                <div class="p-sm-12 p-md-8 p-lg-6 p-xl-6 grid_col">
                    <div class="p-grid">
                        <div class="p-col-6 p-sm-3 p-md-3 p-lg-3 p-xl-3 p-p-0 p-mb-2" *ngFor="let item of footerData">
                            <h5>{{item.title}}</h5>
                            <ul class="list-group">
                                <li class="list-item">{{item.name}}</li>
                                <li class="list-item">{{item.name2}}</li>
                                <li class="list-item">{{item.name3}}</li>
                                <li class="list-item">{{item.name4}}</li>
                                <li class="list-item">{{item.name5}}</li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="p-sm-12 p-md-12 p-lg-3 p-xl-3 grid_col">
                    <div class="footer_details">
                        <h5>Stay In Touch</h5>
                        <p>Sign up to <span class="font-weight-bold">Ultra</span> News for your <span
                                class="font-weight-bold">$20 voucher</span></p>
                        <div class="stay_touch">
                            <span class="stay_touch_input">
                                <input type="text" placeholder="Enter your email address..." />
                            </span>
                            <span class="stay_touch_btn">
                                <button class="btn-primary">Submit</button>
                            </span>
                        </div>
                        <p><span class="font-weight-bold">*$20 voucher</span> for neew sign ups only.</p>
                    </div>
                </div>
            </div>

        </div>

    </section>

    <section class="footer_section_2">
        <div class="container">

            <div class="p-d-flex p-justify-between p-px-2">
                <p>&#x24B8; Ultra copyright 2021</p>
                <p>Sell on Ultra</p>
                <p>Advertise</p>
                <p>Gift Card</p>
                <p>FAQ</p>
                <ul class="list-group">
                    <li class="list-item-inline"><img class="img-fluid list-item-img"
                            src="../../../assets/images/home_page/Logo.svg" alt="" /></li>
                    <li class="list-item-inline"><img class="img-fluid list-item-img"
                            src="../../../assets/images/home_page/Logo (1).svg" alt="" /></li>
                    <li class="list-item-inline"><img class="img-fluid list-item-img"
                            src="../../../assets/images/home_page/Logo (2).svg" alt="" /></li>
                    <li class="list-item-inline p-mr-0"><img class="img-fluid list-item-img"
                            src="../../../assets/images/home_page/Logo (3).svg" alt="" /></li>
                </ul>
            </div>

            <div class="p-grid footer_cards p-d-none">
                <p class="p-col-6">Sell on Ultra</p>
                <p class="p-col-6">Advertise</p>
                <p class="p-col-6">Gift Card</p>
                <p class="p-col-6">FAQ</p>
                <ul class="list-group w-100">
                    <li class="list-item-inline"><img class="img-fluid list-item-img"
                            src="../../../assets/images/home_page/Logo.svg" alt="" /></li>
                    <li class="list-item-inline"><img class="img-fluid list-item-img"
                            src="../../../assets/images/home_page/Logo (1).svg" alt="" /></li>
                    <li class="list-item-inline"><img class="img-fluid list-item-img"
                            src="../../../assets/images/home_page/Logo (2).svg" alt="" /></li>
                    <li class="list-item-inline p-mr-0"><img class="img-fluid list-item-img"
                            src="../../../assets/images/home_page/Logo (3).svg" alt="" /></li>
                </ul>
                <p class="p-d-block">&#x24B8; Ultra copyright 2021</p>
            </div>

        </div>
    </section>

</footer>

<!-- footer section -->
<footer id="footer-card-section" >
    <section class="container">
        <div id="footer">
            <ul class="footer_ul">
                <li class="footer_li">
                    <a href="" class="footer_link">Refund Policy</a>
                </li>
                <li class="footer_li">
                    <a href="" class="footer_link">Privacy Notice</a>
                </li>
                <li class="footer_li">
                    <a href="" class="footer_link">Terms Of Service</a>
                </li>
            </ul>
        </div>
    </section>
</footer>