<section class="page-section page-section-forms">
    <form>
        <section class="page-section-info page-section-personal">
            <div class="p-d-flex p-ai-center">
                <h6 class="p-mt-0 p-mb-3 color-green-2 p-pr-2">
                    Change Password
                </h6>
               
            </div>
            <div class="p-grid">
                <div class="p-col-12 p-md-12 p-lg-12 p-xl-6">
                    <div class="p-fluid p-formgrid p-grid">
                        <div class="p-field p-col-12 p-md-12">
                            <input id="firstname" class="p-inputtext-lg" type="password" placeholder="Type Current Password"
                                pPassword [feedback]="false" />
                        </div>
                        <div class="p-field p-col-12 p-md-12">
                            <input id="lastname" type="password" class="p-inputtext-lg" placeholder="Type New Password"
                            pPassword [feedback]="false" />
                        </div>  
                        <div class="p-field p-col-12 p-md-12">
                            <input id="lastname" type="password" class="p-inputtext-lg" placeholder="Retype New Password"
                            pPassword [feedback]="false" />
                        </div>                       
                    </div>                  
                  
                </div>
                <div class="p-col-12 p-md-12 p-lg-12 p-xl-6 password-details">
                    <h5 class="p-mt-0 p-mb-2 color-green-2">Your new password must:</h5>
                    <ul class="p-pl-3 p-mt-0 color-light-green">
                        <li><span class="color-green">Be at least 4 characters in length</span></li>
                        <li><span class="color-green">Not be same as your current password</span></li>
                        <li><span class="color-green">Not Contain common passwords.</span></li>
                    </ul>
                    </div>
            </div>
        </section>
        <div class="p-button-group p-mt-0">
            <button pButton label="Save" class="p-button-lg p-button-primary p-mr-3 p-button-save"></button>
          </div>
    </form>
   
</section>