<section id="signup_signin">
    <div class="text-center">
        <h1>My Account</h1>
        <p-card styleClass="p-mb-5" class="signUp_card">
            <div class="p-grid p-px-4">
                <div class="p-col-6 signUp_card_sec" routerLinkActive="active">
                    <a routerLink="/auth/sign-up">JOIN</a>
                </div>
                <div class="p-col-6 signUp_card_sec" routerLinkActive="active">
                    <a routerLink="/auth/sign-in">SIGN IN</a>
                </div>
            </div>

            <div class="col">
                <router-outlet></router-outlet>
            </div>

        </p-card>
    </div>
</section>