<section id="my-order">
    <div class="card_bg_white">
        <h4 class="p-my-0">You Currently Have No Order</h4>
        <p class="p-mt-1 p-mb-5"><span style="font-size: 18px; margin-right: 0.5rem;">&#9432;</span>You currently hacve no saved payment methods. Get  started by adding one.</p>
        <div class="form_section text-center">
            <button class="main_btn_border_color" style="width: 100%; max-width: 300px;" pButton label="Credit / Debit Card"></button>
        </div>
        <span class="or_statement">or</span>
        <div class="form_section text-center">
            <button class="main_btn_border_color" style="width: 100%; max-width: 300px;" pButton label="Paypal"></button>
        </div>
    </div>
</section>
