<section class="page-section page-section-coupons">
    <h6 class="p-mt-0 p-mb-4 color-green p-pr-2">
        Available Coupons
    </h6>
    <section class="section-coupons section-available-coupons">
        <div class="border-card-grid">
            <div class="divider">
               
                <div class="p-grid p-jc-between p-m-0">
                    <div class="p-col-12 p-md-12 p-lg-12 p-xl-9 ">
                        <h6 class="p-m-0 color-light-green font-weight-medium">Special Offer for New Customer</h6>
                        <p class="p-mt-1">Get extra <span class="price-symbol">&#8377;</span>10 off on 1 item(s) (price inclusive of discount)</p>
                    </div>
                    <div class="p-col-12 p-md-12 p-lg-12 p-xl-3 p-text-left p-text-xl-right">
                        <p class="p-m-0">Valid till 30 Sep, 2021</p>
                        <div class="p-mt-1"><a class="link-blue">View T&C</a></div>
                    </div>
                </div>
            </div>
            <div class="divider">
               
                <div class="p-grid p-jc-between p-m-0">
                    <div class="p-col-12 p-md-12 p-lg-12 p-xl-9 ">
                        <h6 class="p-m-0 color-light-green font-weight-medium">Special Offer for New Customer</h6>
                        <p class="p-mt-1">Get extra <span class="price-symbol">&#8377;</span>10 off on 1 item(s) (price inclusive of discount)</p>
                    </div>
                    <div class="p-col-12 p-md-12 p-lg-12 p-xl-3 p-text-left p-text-xl-right">
                        <p class="p-m-0">Valid till 30 Sep, 2021</p>
                        <div class="p-mt-1"><a class="link-blue">View T&C</a></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section-coupons section-expired-coupons p-mt-5">
        <h6 class="p-mt-0  p-mb-4 color-green p-pr-2">
            Expired Coupons
        </h6>
        <section class="section-coupons section-available-coupons">
            <div class="border-card-grid">
                <div class="divider">
                   
                    <div class="p-grid p-jc-between p-m-0">
                        <div class="p-col-12 p-md-12 p-lg-12 p-xl-9 ">
                            <h6 class="p-m-0 color-light-green font-weight-medium">Special Offer for New Customer</h6>
                            <p class="p-mt-1">Get extra <span class="price-symbol">&#8377;</span>10 off on 1 item(s) (price inclusive of discount)</p>
                        </div>
                        <div class="p-col-12 p-md-12 p-lg-12 p-xl-3 p-text-left p-text-xl-right">
                            <p class="p-m-0">Valid till 30 Sep, 2021</p>
                            <div class="p-mt-1"><a class="link-blue">View T&C</a></div>
                        </div>
                    </div>
                </div>
                <div class="divider">
                   
                    <div class="p-grid p-jc-between p-m-0">
                        <div class="p-col-12 p-md-12 p-lg-12 p-xl-9 ">
                            <h6 class="p-m-0 color-light-green font-weight-medium">Special Offer for New Customer</h6>
                            <p class="p-mt-1">Get extra <span class="price-symbol">&#8377;</span>10 off on 1 item(s) (price inclusive of discount)</p>
                        </div>
                        <div class="p-col-12 p-md-12 p-lg-12 p-xl-3 p-text-left p-text-xl-right">
                            <p class="p-m-0">Valid till 30 Sep, 2021</p>
                            <div class="p-mt-1"><a class="link-blue">View T&C</a></div>
                        </div>
                    </div>
                </div>
                <div class="divider p-text-center p-pt-2 p-pb-2">
                    <button pButton label="View more" class="p-button-text p-button-viewmore"></button>
                    </div>
            </div>
        </section>
    </section>
</section>