<div class="custom_page_header">
    <h3>Manage Bookings</h3>
</div>


<div class="container-fluid" id="filter_data">
    <div class="custom_top_date_container">
        <!-- <h3 class="float-left my-2">List of Vendors</h3> -->

        <div class="custom_top_date_mc">

            <div class="p-float-right custom_right_align_btn">
                <button pButton class="btn bg-white text-dark" (click)="filterSection = !filterSection"
                    label="Filter (2)"></button>
            </div>

            <div class="custom_top_date_sc">
                <div class="custom_top_date_nav_link">
                    <a [routerLink]="['/vendors/create']">Add Vendors</a>
                </div>
            </div>


        </div>
    </div>
</div>

<div class="px-3 pb-3" id="p_filter_card" *ngIf="filterSection == false">
    <p-card>
        <div class="row mx-auto">

            <div class="col-md-6 col-xl-3 mb-4">
                <div class="textOnInput">
                    <label for="inputText">Booking ID</label>
                    <input class="form-control" pInputText type="text">
                </div>
            </div>

            <div class="col-md-6 col-xl-3 mb-4">
                <div class="textOnInput">
                    <label for="inputText">Customer Name</label>
                    <input class="form-control" pInputText type="text">
                </div>
            </div>

            <div class="col-md-6 col-xl-3 mb-4">
                <div class="textOnInput">
                    <label for="inputText">Email</label>
                    <input class="form-control" pInputText type="text">
                </div>
            </div>

            <div class="col-md-6 col-xl-3 mb-4">
                <div class="textOnInput">
                    <label for="inputText">Vendor Name</label>
                    <input class="form-control" pInputText type="text">
                </div>
            </div>

            <div class="col-md-6 col-xl-3 mb-4">
                <div class="textOnInput">
                    <label for="inputText">Service Name</label>
                    <p-dropdown [options]="selectedDropdown" [(ngModel)]="selectedDropdown"></p-dropdown>
                </div>
            </div>

            <div class="col-md-6 col-xl-3 mb-4">
                <div class="textOnInput">
                    <label for="inputText">Status</label>
                    <p-dropdown [options]="selectedDropdown" [(ngModel)]="selectedDropdown"></p-dropdown>
                </div>
            </div>

            <div class="col-md-6 col-xl-3 mb-sm-4">
                <div class="textOnInput">
                    <label for="inputText">From Date</label>
                    <p-calendar [(ngModel)]="value"></p-calendar>
                </div>
            </div>

            <div class="col-md-6 col-xl-3 mb-sm-4">
                <div class="textOnInput">
                    <label for="inputText">To Date</label>
                    <p-calendar [(ngModel)]="value"></p-calendar>
                </div>
            </div>

            <div class="col-md-6 col-xl-3 p_button">
                <button pButton class="btn" label="SUBMIT"></button>
            </div>

        </div>
    </p-card>
</div>

<!-- <div class="container-fluid">
    <div class="custom_top_date_container">
        <div class="custom_top_date_mc">
            <div class="custom_top_date_sc">
                <div class="custom_top_date_content">
                    <div class="ctd_filter_days">
                        <p-dropdown [options]="optionDays" optionLabel="option" StyleClass="ctd_filter_past_days"></p-dropdown>
                    </div>
                    <div class="ctd_filter_dates">
                        <div class="ctd_filter_from_date">
                            <p-calendar placeholder="26 Oct 2021" [defaultDate]="currentDate" dateFormat="dd M yy"></p-calendar>
                        </div>
                        <div class="ctd_filter_to_txt">
                            <span>to</span>
                        </div>
                        <div class="ctd_filter_to_date">
                            <p-calendar placeholder="26 Oct 2021" [defaultDate]="currentDate" dateFormat="dd M yy"></p-calendar>
                        </div>
                    </div>
                </div>
            </div>
            <div class="custom_top_date_sc">

            </div>
        </div>
    </div>
</div> -->

<!-- <div class="container-fluid">
    <div class="custom_filter_search">
        <div class="custom_filter_nav">
            <p-dropdown [options]="cities" optionLabel="name"></p-dropdown>
        </div>
        <div class="custom_search_nav">
            <input type="text" name="filter_search" id="filter_search" placeholder="Quick Search...">
            <button type="button" class="btn_search_submit">
                <a class="icon-common icon-search-btn icon-size-40"></a>
            </button>
        </div>
    </div>
</div> -->

<div class="container-fluid">
    <div class="custom_listing_container p-pb-6">
        <div class="custom_table custom_booking_table">
            <p-table #dt1 [value]="bookingList" [scrollable]="true" scrollHeight="flex" [paginator]="true" [rows]="10"
                [loading]="loading" [showCurrentPageReport]="true"
                currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries " [responsive]="true">
                <ng-template pTemplate="header">
                    <tr>
                        <th>#</th>
                        <th class="custom_date_column" pSortableColumn="date">Date
                            <p-sortIcon field="appointment_date"></p-sortIcon>
                        </th>
                        <th class="custom_service_column" pSortableColumn="service">Services
                            <p-sortIcon field="services"></p-sortIcon>
                        </th>
                        <th class="custom_shop_column" pSortableColumn="shopname">Shop Name
                            <p-sortIcon field="vendor.salon_name"></p-sortIcon>
                        </th>
                        <th class="custom_timing_column" pSortableColumn="timings">Timing
                            <p-sortIcon field="time_slot"></p-sortIcon>
                        </th>
                        <th class="custom_amount_column" pSortableColumn="amount">Amount
                            <p-sortIcon field="amount"></p-sortIcon>
                        </th>
                        <th class="custom_commission_column" pSortableColumn="commission">Commission
                            <p-sortIcon field="commission"></p-sortIcon>
                        </th>
                        <th class="custom_selleramount_column" pSortableColumn="selleramount">Seller Amount
                            <p-sortIcon field="amount"></p-sortIcon>
                        </th>
                        <th class="custom_status_column" pSortableColumn="status">Status
                            <p-sortIcon field="status.name"></p-sortIcon>
                        </th>
                        <th class="custom_action_column">Action</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-bookings let-i="rowIndex">
                    <tr>
                        <td>{{i + 1}}</td>
                        <td class="custom_date_column">
                            <span>{{bookings.appointment_date | date}}</span>
                        </td>
                        <td class="custom_service_column">
                            <span>{{getServiceListString(bookings.services)}}</span>
                        </td>
                        <td class="custom_shop_column">
                            <span>{{bookings.vendor.salon_name}}</span>
                        </td>
                        <td class="custom_timing_column">
                            <span>{{bookings.time_slot}}</span>
                        </td>
                        <td class="custom_amount_column">
                            <span>${{bookings.amount}}</span>
                        </td>
                        <td class="custom_commission_column">
                            <span>0</span>
                        </td>
                        <td class="custom_selleramount_column">
                            <span>${{bookings.amount}}</span>
                        </td>
                        <td>
                            <p-dropdown [options]="bookingStatus" [(ngModel)]="bookings.status"
                                optionLabel="display_name" [ngClass]="{
                                'status-pending': (bookings.status.name == undefined || bookings.status.name === 'pending'), 
                                'status-in-progress': bookings.status.name === 'in_progress',
                                'status-completed': bookings.status.name === 'completed',
                                'status-canceled': bookings.status.name === 'canceled'}"
                                (onChange)="statusChangeEvent(bookings)">
                            </p-dropdown>
                        </td>
                        <td class="custom_action_column no_wrap_txt custom_edit_delete_check action-data-tab">
                            <a class="custom_action_view_link" [routerLink]="['/bookings/booking-detail']">View</a>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
</div>