$imgPath: "/assets/images/";
$font-size-13: 13px;
$font-size-15: 15px;
$bodyBgColor: #ecebeb;
$shadowColor: rgba(0, 0, 0, 0.4);
$primaryButtonBgColor: #ff8643;
$primaryButtonTextColor: #fff;

$secondaryGreyButtonBgColor: #ecebeb;
$secondaryGreyButtonTextColor: #202224;

$textboxBorderColorGrey: #ebebeb;

$primaryColor:#094f32;
$colorpurple: #6158af;
$colorwhite: #fff;
$colorBlack: #333;
$mobile-size: 767px;
$tablet-mini-size: 991px;
$tablet-size: 1024px;
$desktop-size: 1200px;
