$imgPath: "/assets/images/";
$font-size-13: 13px;
$font-size-15: 15px;
$bodyBgColor: #ecebeb;
$bodyBgColor2: #E5E5E5;
$shadowColor: rgba(0, 0, 0, 0.4);
$primaryButtonBgColor: #ff8643;
$primaryButtonTextColor: #fff;

$secondaryGreyButtonBgColor: #ecebeb;
$secondaryGreyButtonTextColor: #202224;

$textboxBorderColorGrey: #ebebeb;

$primaryColor:#0D61FE;
$colorpurple: #6158af;
$colorwhite: #ffffff;
$colorBlack: #131313;
$color-828282: #828282;
$color-345FE2: #345FE2;

$font-size-18: 18px;

$mobile-size: 767px;
$tablet-mini-size: 991px;
$tablet-size: 1024px;
$desktop-size: 1200px;
