<p-card styleClass="p-card-inner p-card-box no-shadow p-card-white  p-mb-4">
    <div class="p-grid p-d-flex">
        <div class="p-col p-col-fixed p-col-55px">
            <span class="icon-common icon-size-50 icon-notifications"></span>
        </div>
        <div class="p-col p-col-auto">
            <p class="p-m-0">This is where you will see your personalized offers, order updates & price drops</p>
            <div class="p-d-flex p-jc-between">
                <p class="color-grey p-m-0">21 Sep, 2021</p>
               <div class="p-ml-auto">
                <a class="link-more-detailsss link-blue">More details</a>
               </div>
            </div>
        </div>
    </div>
</p-card>
<p-card styleClass="p-card-inner p-card-box no-shadow p-card-white  p-mb-4">
    <div class="p-grid p-d-flex">
        <div class="p-col p-col-fixed p-col-55px">
            <span class="icon-common icon-size-50 icon-notifications"></span>
        </div>
        <div class="p-col p-col-auto">
            <p class="p-m-0">This is where you will see your personalized offers, order updates & price drops</p>
            <div class="p-d-flex p-jc-between">
                <p class="color-grey p-m-0">21 Sep, 2021</p>
               <div class="p-ml-auto">
                <a class="link-more-detailsss link-blue">More details</a>
               </div>
            </div>
        </div>
    </div>
</p-card>