<section id="account_overview">

    <div class="card_bg_white">
        <img src="../../../../assets/images/icon/icon-home.svg" alt="" />
        <h2 class="p-my-1">Gift Cards & Voucher</h2>
    </div>


    <div class="text-center card_bg_white">
        <img src="../../../../assets/images/icon/icon-home.svg" alt="" />
        <h4 class="p-my-1">Gift Cards & Voucher</h4>
        <p>You currently have no voucher linked to your account. Get started by reedeming or buying one now</p>
        <div class="form_section gift_btn text-center">
            <button class="main_btn_color p-mx-auto" pButton label="Add Gift Card/Voucher"></button>
            <button class="main_btn_color_primary p-mx-auto" pButton label="Buy Gift Voucher"></button>
        </div>
    </div>



</section>