<!-- <div id="booking">
    <div class="container">
        <div class="p-grid">
            <div class="p-col-7 primary_section"> -->
                <p-steps [model]="items" [readonly]="true" (activeIndexChange)="changeTabs($event)" [(activeIndex)]="activeIndex"></p-steps>
            <!-- </div>
            <div class="p-col-5 secondary_section">
                <p>secondary section</p>
            </div>
        </div>
        <app-cart></app-cart>
        <app-complete></app-complete>
        <app-information></app-information>
    </div>
</div> -->

