<footer class="footer-container p-d-flex p-ai-center">
    <div class="container">
        <div class="p-d-flex p-jc-between p-text-capitilize p-text-white p-flex-column p-flex-md-row p-text-left p-text-md-left">
           <div>
            <a class="link-text-white p-mr-4">About your best hair</a>
            <a class="link-text-white p-mr-4">Terms & conditions</a>
            <a class="link-text-white p-mr-4">Privacy policy</a>
            <a class="link-text-white p-mr-4">Help center</a>
           </div>
           <div class="text-white p-text-capitilize">
               &copy; Copyrights <span>{{currentYear}}</span>. All rights reserved
           </div>
        </div>
    </div>
</footer>