<div class="custom_page_header">
    <h3>Manage Promotions Edit</h3>
</div>
<div class="container-fluid">
    <div class="custom_create_new_form">
        <p-card styleClass="p-card-form p-mb-3">
            <form #form="ngForm" class="form-border-orange">
                <div class="form-group">
                    <label for="">Title of Image</label>
                    <input type="text" id="image_title" name="image_title" value="Promotions" required pInputText/>
                </div>
                <div class="form-group">
                    <label for="">No of Column</label>
                    <input type="text" id="no_of_column" name="no_of_column" value="2" required pInputText/>
                </div>
                <div class="form-group">
                    <label class=" col-form-label">Image 1</label>
                    <p-fileUpload name="promotion_img[]" chooseLabel="Upload" [showUploadButton]="false" accept="image/*" maxFileSize="1000000">
                    </p-fileUpload>
                </div>
                <div class="form-group">
                    <label for="">Image Link</label>
                    <input type="text" id="image_link_1" name="image_link_1" required pInputText value="https://www.ultamarketplace.com/new-arrivals/" />
                </div>

                <div class="form-group">
                    <label for="">Image Alt Tag</label>
                    <input type="text" id="image_alt_txt_1" name="image_alt_txt_1" required pInputText/>
                </div>



                <div class="form-group">
                    <label class=" col-form-label">Image 2</label>
                    <p-fileUpload name="promotion_img[]" chooseLabel="Upload" [showUploadButton]="false" accept="image/*" maxFileSize="1000000">
                    </p-fileUpload>
                </div>
                <div class="form-group">
                    <label for="">Image Link</label>
                    <input type="text" id="image_link_2" name="image_link_2" required pInputText value="https://www.ultamarketplace.com/new-arrivals/" />
                </div>

                <div class="form-group">
                    <label for="">Image Alt Tag</label>
                    <input type="text" id="image_alt_txt_2" name="image_alt_txt_2" required pInputText/>
                </div>




                <div class="form-group p-d-flex p-jc-between">
                    <a [routerLink]="['/cms/home']" class="custom_back_btn">Back</a>
                    <p-button label="APPLY" class="custom_new_btn"></p-button>
                </div>
            </form>
        </p-card>
    </div>
</div>