a {
    &.link-text {
        &-white {
            color: $colorwhite;
            text-decoration: none;
            &:hover {
                text-decoration: underline;
            }
        }
    }
}
.text {
    &-white {
        color: $colorwhite;
       
    }
}