.color {
  &-black {
    color: $primary-bg-color !important;
  }

  &-green {
    color: $primary-bg-color !important;
  }
&-green-2{
  color: $color-green !important;
}
  &-light-green {
    color: $primary2-text-color !important;
  }
  &-light-green-2 {
    color: $color-65AF6B !important;
  }
  &-red {
    color: $color-red !important;
  }
  &-red-2 {
    color: $color-red2;
  }

  &-grey {
    color: rgba($color-black,.7) !important;
  }
  &-blue{
    color: $color-blue !important;
  }
  &-white {
    color: $color-white !important;
  }
  &-primary {
    color: $primary-text-color !important;
  }
}

.bg-green {
  background-color: $primary-bg-color !important;
  color: $color-white;

  &-light {
    background-color: $primary2-bg-color !important;
  }

}

.bg {
  &-light-green {
    background-color: #74BF24  !important;
  }
  &-transparent {
    background-color: $color-transparent !important;
  }
}
.total-saving {
    background-color: rgba($primary2-color, 0.32)   !important;
    border-radius: 4px;
    color: $primary2-color;
    padding: 8px 12px;
    margin-top: 14px;
}

.bg-status {
  &-green {
    background-color: $primary2-text-color;
  }
}