.p-galleria {
  p-galleriaitem {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  .p-galleria {
   
    &-thumbnail {
      &-items {
        &-container {
          height: 435px !important;
        }
      }

      &-container {
        padding: 0;
        background-color: $color-transparent;
        border: 1px solid $color-light-grey-3;
        border-radius: 8px;
        .p-galleria-thumbnail-next,
        .p-galleria-thumbnail-prev {
          width: 100%;
          height: 24px;
          padding: 0;
          margin: 0;
          border-radius: 0;
          color: $color-green;
          &:enabled {
            &:hover {
              color: $color-green;
            }
          }
          &:focus {
            box-shadow: none;
          }
        }
      }
      
    }
    &-item {
      &-wrapper {
        border: 1px solid $color-light-grey-3;
        border-radius: 8px;
        width: 100%;
        height: 100%;
        margin-left: 5px;
        @include large-devices() {
          padding: 33px;
        }
        
      }
      &-container {
        width: 100%;
      }
    }
   
  }
}