$bgcolor-white: #fff;
$body-bg-color: #fbfcff;
$color-white: #fff;
$primary-text-color: #00492b;
$primary-bg-color: #00492b;
$primary-bg-btn-color: #03062E;
$primary2-text-color: #74bf24;
$primary2-bg-color: #74bf24;
$primary2-color: #478803;
$primary3-color: #75BB34;
$color-green: #072619;
$color-grey: #212121;
$color-dary-grey: #C3C3C3;
$color-dary-grey2: #d8d8d8 ;
$color-light-grey: #A2A2A2;
$color-light-grey-3: #F1F0F1;
$color-light-grey-4: #f7f7f7;
$color-light-grey-5: #B2B2B2;
$color-blue: #528EFF;
$color-light-grey-2: #F5F5F5 ;
$color-black: #000;
$color-orange: #F7971D;
$color-transparent: transparent;
$color-grey4: #E3E3E3;
$color-border: #ACACAC;
$color-red: #FF527A;
$color-red2: #EA3737;
$color-form-bg: #EDEDED;
$color-E5E5E5: #E5E5E5;
$color-D6D6D6:#D6D6D6;
$color-818181: #818181;
$color-54BE57: #54BE57;
$color-65AF6B: #65AF6B;
$color-6A6A6A: #6A6A6A;
$color-3B3B3B: #3B3B3B;
$color-5D6169: #5D6169;
$color-0E1535: #0E1535;

$h1-big: 30px;
$h1-xbig: 45px;
$h1-small: 25px;

$h4-large: 32px;

$h1: 44px;
$h2: 27px;
$h3: 20px;
$h4: 18px;
$h5: 16px;
$h6: 16px;

$h1-large-device: 35px;
$h2-large-device: 30px;
$h3-large-device: 28px;
$h4-large-device: 22px;
$h5-large-device: 20px;
$h6-large-device: 18px;


$font-size-22: 22px;
$font-size-18: 18px;
$font-size-17: 17px;
$font-size-16: 16px;
$font-size-14: 14px;
$font-size-primary: 14px;
$font-size-13: 13px;
$font-size-12: 12px;
$font-size-11: 11px;
$font-size-7: 7px;


$font-weight-light: 200;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;
$imgPath: "/assets/images";
$iconpath: "#{$imgPath}/icon";
