<div class="custom_page_header">
    <h3>Create Blog Post</h3>
</div>

<div class="custom_create_form">
    <form #form="ngForm" class="form-border-orange">
        <div class="create_top_status_container">

            <div class="create_top_status">
                <div class="create_top_status_left">
                    <label for="vendor_status">Post Status :</label>
                </div>

                <div class="create_top_status_right">
                    <div class="form-check form-check-inline" id="vendor_status"
                        *ngFor="let item of PostStatus; let i = index">
                        <input class="form-check-input" type="radio" name="{{i}}" id="{{i}}" value="approved"
                            [checked]="item.checked" />
                        <label class="form-check-label" for="inlineRadio1">{{item.name}}</label>
                    </div>
                </div>

            </div>
        </div>

        <div *ngFor="let category of categoryData; let i = index">

            <p-card styleClass="p-card-form p-mb-3">
                <div class="p-fluid" *ngIf="SelectedTab == 0">
                    <div class="p-field">
                        <label for="firstname1">Blog Category *</label>
                        <p-dropdown [options]="categoryList" [(ngModel)]="selectedCategoryId" name="category"
                            optionLabel="name" optionValue="_id" placeholder="Select parent category"
                            #selectCategory="ngModel" [showClear]="true">
                        </p-dropdown>
                    </div>

                    <div class="p-field mb-0">
                        <div class="form-group mb-0">
                            <span class="query">
                                <i class="pi pi-question-circle"></i>
                            </span>
                            <span class="query">
                                <label for="" class="d-inline-block mx-2">Is Featured :</label>
                                <p-checkbox name="groupname" value="val1" [(ngModel)]="selectedValues"></p-checkbox>
                            </span>

                        </div>
                    </div>

                </div>
            </p-card>

            <p-card styleClass="p-card-form p-mb-3">

                <!-- First Step -->
                <div id="showCategoryDetails{{i}}">
                    <div class="p-fluid">
                        <div class="p-field">
                            <label for="name{{i}}">Post Title *</label>
                            <input [(ngModel)]="categoryData[i]['name']" type="text" id="name{{i}}" name="name{{i}}"
                                placeholder="Eg. Hair Style" (blur)="createSlug(i)" #categoryName="ngModel" required
                                pInputText />
                            <div *ngIf="form.submitted && categoryName?.invalid && categoryName?.errors?.required"
                                class="p-error">
                                Category Name is required
                            </div>
                        </div>
                        <div class="p-field">
                            <label for="slug">Post Author *</label>
                            <input [(ngModel)]="categoryData[i]['slug']" type="text" id="slug{{i}}" name="slug{{i}}"
                                placeholder="Eg. about-us" #categorySlug="ngModel" required pInputText>
                            <div *ngIf="form.submitted && categorySlug.invalid && categorySlug.errors.required"
                                class="p-error">
                                Url key is required
                            </div>
                        </div>
                        <div class="p-field">
                            <label for="email">Featured Image *</label>
                            <p-fileUpload name="banner[]" (onSelect)="bannerChangeEvent($event)" chooseLabel="Upload"
                                [showUploadButton]="false" accept="image/*" maxFileSize="1000000">
                            </p-fileUpload>
                        </div>
                        <div class="p-field">
                            <label for="meta_description">Post Content</label>
                            <p-editor id="description" [(ngModel)]="categoryData[i]['meta_description']"
                                name="description" required [style]="{'height':'320px'}"
                                placeholder="Eg. About the service">
                            </p-editor>
                        </div>

                        <!-- <div class="p-field text-right">
                            <button type="submit" class="p-button-primary p-button-primary-3 custom_btn_next"
                                (click)="showCategoryDescriptionClick(i, form, 0)">Save</button>
                        </div> -->
                    </div>
                </div>



            </p-card>

            <p-card styleClass="p-card-form p-mb-3">

                <!-- First Step -->
                <div id="showCategoryDetails{{i}}">
                    <div class="p-fluid">
                        <div class="p-field">
                            <label for="name{{i}}">Category Slug (URL Key) *</label>
                            <input [(ngModel)]="categoryData[i]['name']" type="text" id="name{{i}}" name="name{{i}}"
                                placeholder="Ex: samsung-galaxy" (blur)="createSlug(i)" #categoryName="ngModel" required
                                pInputText />
                            <div *ngIf="form.submitted && categoryName?.invalid && categoryName?.errors?.required"
                                class="p-error">
                                Category Name is required
                            </div>
                        </div>
                        <div class="p-field">
                            <label for="slug">Meta Title (60 Char) *</label>
                            <input [(ngModel)]="categoryData[i]['slug']" type="text" id="slug{{i}}" name="slug{{i}}"
                                placeholder="Ex: Buy Samsung Galaxy Mobile Phone" #categorySlug="ngModel" required pInputText>
                            <div *ngIf="form.submitted && categorySlug.invalid && categorySlug.errors.required"
                                class="p-error">
                                Url key is required
                            </div>
                        </div>
                        <div class="p-field">
                            <label for="email">Meta Description (156 Char) *</label>
                            <textarea [rows]="5" class="custom_textarea" [cols]="30" placeholder="Ex: Buy Samsung Galaxy Mobile Phone" pInputTextarea autoResize="autoResize"></textarea>

                        </div>
                        <div class="p-field">
                            <label for="meta_description">Post Content</label>
                            <textarea [rows]="5" class="custom_textarea" [cols]="30" placeholder="Ex: Buy Samsung Galaxy Mobile Phone" pInputTextarea autoResize="autoResize"></textarea>

                        </div>

                        <div class="p-field text-right">
                            <button type="submit" class="p-button-primary p-button-primary-3 custom_btn_next"
                                (click)="showCategoryDescriptionClick(i, form, 0)">PUBLISH</button>
                        </div>
                    </div>
                </div>



            </p-card>


        </div>

    </form>
</div>